.centre {
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header {
  height: 100px;
  width: auto;
  margin: 10px;
}
#navMenu {
  height: 50px;
  width: auto;
  margin: 10px;
}
#footer {
  height: 60px;
  width: auto;
  margin: 10px;
}
#contentDiv {
  height: 300px;
  display: flex;
  margin: 10px;
}

#content1 {
  flex-basis: 20%;
  margin: 0 10px 0 0;
}
#mainContent {
  flex-basis: 60%;
  margin: 0 10px 0 0;
}
#content2 {
  flex-basis: 20%;
}
